/* Sets a flurry of fallback fonts */
html {
  font-family: "sans-serif", -apple-system, system-ui;
}

/* Borders, padding & margins now shave off the element's height and width to insert themselves instead of adding onto the original size */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: scrollbar-color linear 500ms;
}

*::selection {
  background-color: lime;
}

:root[color-theme="dark"] {
  --bodyColor: black;
  --textColor: white;
}

:root[color-theme="light"] {
  --bodyColor: white;
  --textColor: black;
}

html {
  &:hover {
    cursor: pointer;
  }
  font-family: "Space Mono", "Inconsolata", monospace;
  padding: 24px;
  background: white;
  color: var(--textColor);
  transition: 500ms linear;
  transition-property: color;
  height: 100%;
  width: 100%;
  overflow: hidden;
  scrollbar-color: var(--textColor) var(--bodyColor);
}

body {
  &:hover {
    cursor: auto;
  }
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius : 8px;
  background: var(--bodyColor);
  transition: 500ms linear;
  transition-property: background;
  margin: 0;
  padding: 16px;
  animation: intro forwards 1s ease-out;
  transform: translateY(100%) rotateZ(15deg);
  opacity: 0;
  box-shadow: 0px 0px 32px rgb(0, 0, 0);
}

#tip {
  color: black;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: font-size ease-out 1s, opacity ease-out 1s;
}

h1 {
  &::before {
    content: "> ";
    user-select: none;
  }
  overflow-x: scroll;
  text-wrap: nowrap;
}

#tree {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  font-size: 24px;
  min-width: 100%;
  min-height: 100%;
  overflow: scroll;
}
#tree * {
  &:hover {
    padding-left: 6px;
    cursor: pointer;
    background: rgba(0, 255, 0, .5);
  }
  &:active {
    padding-left: 10px;
    background: rgba(0, 255, 0, 1);
  }
  &::before {
    content: "> ";
  }
  width: max-content;
  text-wrap: nowrap;
  box-sizing: content-box;
  min-width: 15%;
  user-select: none;
  margin-left: calc(24px * attr(layer));
}

@keyframes intro {
  100% {
    transform: unset;
    opacity: 1;
  }
}