@import url('/global_files/global.css');

.footer {
  width: 100vw;
  height: 50px;
  display: flex;
  position: fixed;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, .125);
  bottom: 0%;
  left: 0%;
  backdrop-filter: contrast(1.025) blur(25px);
}

.footer-text-interaction {
  height: fit-content;
  width: fit-content;
  transition: 125ms ease-out;
  opacity: .35;
  user-select: none;
  font-size: 16px;
  cursor: pointer;
  transform: scale(.95);
}

.footer-text-interaction:hover {
  transition: 125ms ease-out;
  font-size: calc(16px + 5%);
  opacity: .5;
}

.footer-text-interaction:active {
  transition: 50ms linear;
  font-size: calc(16px - 10%);
  opacity: .65;
}

.footer-divider {
  width: 0px;
  height: 50%;
  border-color: white;
  opacity: .25;
  margin: 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.content-main {
  width: 100vw;
  height: calc(100vh - 50px);
  position: absolute;
  top: 0%;
  left: 0%;
}

/* Animations for clicking and hovering*/
/* .folder:hover { animation: hover forwards .5s cubic-bezier(.165, .8, .5, 1); } */

/* Animation(s) */
@keyframes hover {
  33% { transform: rotate(15deg) scale(1.1); }
  66% { transform: rotate(-15deg) scale(1.1); }
  80% { transform: rotate(5deg) scale(1.1); }
  100% {
    transform: scale(1.1);
    opacity: .65;
  }
}

@keyframes folder-active {
  from {}
  to {
    transform: scale(.9);
    opacity: .75;
  }
}

/* Commonly used values/colors */
:root {
  --footer-txt-color: 190, 170, 225;
  --footer-border-divider-color: rgba(255, 255, 255, 0.1)
}