/* Removes the following... */
/* Nitro button on the homepage */ [href="/shop"],
/* Store button on the homepage */ [href="/store"],
/* The "Edit Image with Apps" when hovering over images sent by someone other than you */ div[aria-label="Edit Image with Apps"],
/* Help button in the header */ [aria-label="Help"],
/* Start Video Call button */ [aria-label="Start Video Call"],
/* Hides Create new group DM button */ [aria-label="New Group DM"],
/* Loading screen */ div[data-fade="false"][style="--connecting-container-fade-duration: 200ms; --connecting-content-fade-duration: 150ms;"],
/* "Notifications Settings" button from top footer */ div[aria-label="Notification Settings"][role="button"],
/* "Hang statuses" (the lil" icons in multi-user VCs in Discord Servers) */ li > :nth-child(2) div div div > :nth-child(3),
/* Server boosts */
[aria-label="Channels"] > li:has([d="M9.3 5.3a1 1 0 0 0 0 1.4l5.29 5.3-5.3 5.3a1 1 0 1 0 1.42 1.4l6-6a1 1 0 0 0 0-1.4l-6-6a1 1 0 0 0-1.42 0Z"]),
[role="group"]:has(> #guild-header-popout-premium-subscribe),
[role="group"]:has(> #guild-header-popout-premium-subscribe) + [role="separator"],
/* Server shops */ li:has([aria-label="Server Shop"]),
/* "Show User Profile" button in DMs when your screen is not wide enough to support it */ [aria-label="Show User Profile (Unavailable)"],
/* "Apps" & "Add to Server" context menu buttons when right clicking on a person in your DMs */ [role="group"]:has([id="user-context-block"]) > div:not([id="user-context-remove-friend"]):not([id="user-context-block"]),
/* "Gift" button in the message bar */ [aria-label="Send a gift"],
/* "GIF" button in the message bar */ [aria-label="Open GIF picker"],
/* "Sticker" button in the message bar */ [aria-label="Open sticker picker"],
/* "Apps" button aside the chat text input */ main form div > :has(button[aria-label="Apps"]),
/* Menu dividers in your user context menu */ [role="list"] button ~ div[class]:empty,
/* "Nitro" button in your user context menu */ button:has(div > svg > [d="M7 4a1 1 0 0 0 0 2h3a1 1 0 1 1 0 2H5.5a1 1 0 0 0 0 2H8a1 1 0 1 1 0 2H6a1 1 0 1 0 0 2h1.25A8 8 0 1 0 15 4H7Zm8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"]),
/* "Shop" button in your user context menu */ button:has(div > svg > [d="M21 11.42V19a3 3 0 0 1-3 3h-2.75a.25.25 0 0 1-.25-.25V16a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v5.75c0 .14-.11.25-.25.25H6a3 3 0 0 1-3-3v-7.58c0-.18.2-.3.37-.24a4.46 4.46 0 0 0 4.94-1.1c.1-.12.3-.12.4 0a4.49 4.49 0 0 0 6.58 0c.1-.12.3-.12.4 0a4.45 4.45 0 0 0 4.94 1.1c.17-.07.37.06.37.24Z"]),
/* The "Download" button for the Discord App */
div[aria-label="Servers"] ~ div:has(div[aria-label="Download Apps"]),
div[aria-label="Servers"] ~ div:has(> div:empty:not([aria-hidden="true"])),
/* User sub-text and statuses under their display name on members lists */
a[aria-label] > div > div:nth-child(2) > div:nth-child(2),
div[role="listitem"] > div > div:nth-child(2) > div:nth-child(2),
[role="img"] ~ div:nth-child(2) > div:nth-child(2),
/* Clan tags */ [role="listitem"] > div > div:last-of-type > div > div > span > span:nth-child(2),
/* "Activities" at the top of the Server Members list */
div[role="list"][aria-label="Members"] > h3 ~ div:not([class]),
h3:has(:nth-child(2) [role="button"]):not([aria-labelledby]),
/* Avatar decorations */
[role="img"] > svg:nth-child(2),
div > [alt=" "]:nth-child(2) {
  display: none;
}

/* After removing the Gift, GIF, and Sticker button, fixes the missing padding on the Select Emoji button */
[aria-label="Select emoji"] {
  margin-right: unset;
  padding-right: 16px;
}

/* After removing the Apps button aside the chat text input, fixes the "Jump to present" bar when viewing older messages/replies */
main [tabindex="-1"] ~ div:has(>button[type="button"]) {
  right: 16px;
}