/* Shrinks the user bar */
[aria-label="User area"] {
  width: calc(100% - var(--custom-guild-list-width)) !important;
  right: 0 !important;
  border-radius: unset !important;
  left: unset !important;
  bottom: 0 !important;
}

/* Reduce spacing between... */
:root {
  /* Messages */ --custom-message-spacing-vertical-container-cozy: unset;
  /* Channel categories */ --custom-category-channel-space-before-category: 8px;
  /* Emojis */--custom-emoji-size-emoji: 1rem;
}
/* Messages (again) */
[data-list-id="chat-messages"] * {
  line-height: .9 !important;
  min-height: unset !important;
}

/* Crops long channel descriptions &  long reply previews */
*:has(> [aria-label="Open Channel Topic"]), [class*="repliedTextPreview"] {
  display: block;
  max-width: 256px;
  text-wrap: nowrap;
  overflow: hidden;
}