/* Nitro button on the homepage */ [href="/shop"],
/* Store button on the homepage */ [href="/store"],
/* AI Image edit button */ [aria-label="Edit Image with Apps"],
/* Start Video Call button */ [aria-label="Start Video Call"],
/* Loading screen */ [style="--connecting-container-fade-duration: 200ms; --connecting-content-fade-duration: 150ms;"],
/* Header Notifications Settings */ [aria-label="Notification Settings"][role="button"],
/* VC Hang statuses*/ a[data-list-item-id] [class*="linkBottom"],
/* Server boosts */ [aria-label="Channels"] li:has([class*="goalText"]),
/* Server shops */ li:has([aria-label="Server Shop"]),
/* "Suggested" channels */ ul li:has(circle[class=""]), ul li:has(circle[class=""]) + li, ul li:has(circle[class=""]) + li + li, ul li:has(circle[class=""]) + li + li + li,
/* Nitro settings */ [aria-label="Nitro"],
/* Server Boost settings */ [aria-label="Nitro"] + div,
/* "Add to your channels list" */ div[class*="chatHeader"]:has(path[class]),
/* Hide "Show User Profile" when screen isn't wide enough*/ [aria-label="Show User Profile (Unavailable)"],
/* "Apps" & "Add to Server" context menu buttons*/ [role="group"]:has([id="user-context-block"]) > div:not([id="user-context-remove-friend"]):not([id="user-context-block"]),
/* Anything in the message input that isnt GIF or Emoji picker */ div:has(> .expression-picker-chat-input-button) > div:not(.expression-picker-chat-input-button),
/* The "Download" button for the Discord App */ div[aria-label="Servers"] ~ div:has(div[aria-label="Download Apps"]), div[aria-label="Servers"] ~ div:has(> div:empty:not([aria-hidden="true"])),
/* User sub-text and statuses under their display name on members lists*/ [class*="subText"],
/* "Activities" @ Members list */ [aria-label="Members"] > h3:has([class=""]), [aria-label="Members"] > h3:has([class=""]) ~ div:not([class]),
/* Profile decor/VFX */ [class*=avatarDecoration], [class*="profileEffects"],
/* Quick-react buttons */ [class*="hoverBarButton"][aria-label*="Click to react with"], [aria-label="Message Actions"] [role="group"]:first-of-type,
/* Clan tags */ span > span:has([src*="/clan-badges/"]),
/* Reply & React to user statuses */ [class*='statusPopover'], [class*='avatarPopover'], [style*="background: linear-gradient(90deg, transparent 0%, rgba("],
/* Soundboard & Start activity buttons in VC */ div:has(> [aria-label="Open Soundboard"]), [aria-label="Start An Activity"],
/* Booster Badge */ div[class=""]:has([fill="var(--guild-boosting-pink)"]),
/* Tooltips */ #cash-app-pay-container + div:empty:not([class]) + div[class] > div:has([class*="disabledPointerEvents"]),
/* "Quests have moved!" in your Gifts Inventory */ [style='background-image: url("https://cdn.discordapp.com/assets/discovery/quests-wumpus-hikes-mountain-transparent-background.png");'],
/* Hi Wumpus, bye Wumpus. */ #add_friend-tab [alt="Wumpus Waving"] {
  display: none !important;
  visibility: hidden !important;
}

/* Removes the title bar */
div[data-fullscreen][class] {
  grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end] !important;
}
[style*="overflow: hidden scroll;"] > :first-child {
  padding-top: var(--space-xs);
}