/* Keeps the emoji selector icon consistent */
[aria-label="Select emoji"] div[style] > div:last-of-type {
  mask-position: 18px 54px;
  opacity: 1 !important;
}
[aria-label="Select emoji"] div[style] > div:first-of-type {
  opacity: 0;
}

/* Unicase initials for the placeholder icon for servers using the default icon */
[data-list-item-id][aria-label][role="treeitem"][style="font-size: 18px;"] > div {
  font-variant-caps: all-small-caps;
}

/* Removes the phone number and email peaks completely and the reveal button(s) in your account settings */
span:has(> [aria-label="Reveal phone number"]),
span:has(> [aria-label="Reveal email address"]),
div:has(> h3) ~ div > div:has(> a) {
  display: none;
}
div:has(> span > [aria-label="Reveal phone number"])::before,
div:has(> span > [aria-label="Reveal email address"])::before {
  display: block;
  content: "ಠ _ಠ";
  color: white;
}

/* Keeps the folder size and border-radius consistent with everything else */
foreignObject > div[aria-owns][aria-label] > * {
  border-radius: 12px;
  transform-origin: center;
}
foreignObject:has(> div[aria-owns][aria-label]) {
  mask: none;
  height: 40px;
  width: 40px;
}
foreignObject > div[aria-owns][aria-label],
foreignObject > div[aria-owns][aria-label] > *,
foreignObject > div[aria-owns][aria-label] > * > * {
  height: 40px;
  width: 40px;
}
div[data-dnd-name][draggable="true"] > div[style] {
  width: 40px !important;
  height: 40px !important;
}

/* Removes server icons from folder previews */
foreignObject [class*="folderPreview"][class*="icon"] {
  display: none;
}

/* Implements a folder icon in place of the server icon previews in closed folders */
foreignObject [class*="folderPreview"]::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;base64,PHN2ZyBzdHlsZT0iY29sb3I6IHdoaXRlOyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMiA1YTMgMyAwIDAgMSAzLTNoMy45M2EyIDIgMCAwIDEgMS42Ni45TDEyIDVoN2EzIDMgMCAwIDEgMyAzdjExYTMgMyAwIDAgMS0zIDNINWEzIDMgMCAwIDEtMy0zVjVaIiBjbGFzcz0iIj48L3BhdGg+PC9zdmc+Cg==');
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(var(--guildbar-folder-size) / 2);
  opacity: .1;
}

/* Resize folders to be consistent with the other buttons on the guilds bar */
foreignObject[mask]:has([class*="folder"]) {
  mask: unset !important;
}
svg:has(foreignObject[mask] [class*="folder"]),
[class*="folderHeader"] {
  width: var(--guildbar-avatar-size) !important;
  height: var(--guildbar-avatar-size) !important;
}

[class*="credentialItem"] {
  padding-left: 16px; /* Discord's 32px is awkwardly big */
  & > div:first-of-type::before {  /* We could use more pop around here */
    display: inline-block;
    content: "🔑";
    margin-right: 8px;
  }
}

/* No thinking bubbles for statuses */
[role="tooltip"] > div:first-of-type {
  &::before, &::after {
    display: none;
  }
}

/* No transitions */
* {
  transition: none !important;
}