/* Recommended values: 50% for circle, 20% for a squircle, 5% for round square, and 0 for sharp square */
:root {
  --profileRadius: 5%;
}

/* Unsets the circular mask for user profile backgrounds */
[style="min-width: 340px; min-height: 120px;"] > foreignObject,
[viewBox="0 0 300 105"] > foreignObject,
[viewBox="0 0 600 210"] foreignObject {
  mask: none;
}

/* Unsets the circular mask on profiles and makes it a border-radius instead */
foreignObject[width="32"],
foreignObject[width="80"],
foreignObject[width="24"],
foreignObject[width="120"],
[aria-roledescription="Message"] img {
  mask: none;
  border-radius: var(--profileRadius);
}