/**
 * @name Screen Expansion
 * @description Twitter UI without that separation anxiety
 * @author JustAundre
 * @version 1.0.0
 * @authorId 532681285961777154
*/

/* Right side bar goes right */
div[data-testid="sidebarColumn"] {
  height: -webkit-fill-available;
  right: 0;
  top: 0;
  margin: 0;
}

/* Left side bar goes left */
header[role="banner"],
header[role="banner"]>*>*,
header[role="banner"]>* {
  flex-grow: 0;
  left: 0;
  margin: 0;
}

/* Make the main content fill the space */
[data-testid="primaryColumn"] {
  width: auto;
  max-width: unset;
  margin: 0 20px;
}
[aria-label="Home timeline"]>*{max-width: none;}
header[role="banner"] ~ main[role="main"] > *:first-of-type { width: -webkit-fill-available;
}