/**
 * @name Squircle Profiles
 * @description Uniform border radiuses with game cards.
 * @author JustAundre
 * @version 1.0.0
 * @authorId 532681285961777154
*/

/* Changes all profile pictures to be a square */
.avatar-card-fullbody .avatar-card-image,
.avatar-card-fullbody .avatar-card-link,
.avatar .avatar-card-image,
.avatar .avatar-card-link
{ border-radius: 15% !important; }

/* Makes online presence indicator more "apt" */
.game-home-page-container [data-testid="presence-icon"] { transform: translate(2.5px, 2.5px); }

/* Cleaner code for friends list on home page */
.friends-carousel-tile-labels { width: 90px; }
.friend-tile-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}