/* Configs */
:root {
  --sensitivity: 1%; /* How close you need to hover to the left side of the screen to expand the sidebar */
}

/* Re-add the ability to collapse the sidebar again */
.rbx-nav-collapse { display: none; }
.rbx-left-col {
  display: block;
  visibility: unset;
  width: 0px !important;
  & .rbx-scrollbar {
    width: 100%;
  }
}
#left-navigation-container {
  z-index: calc(1/0);
  position: fixed;
  width: var(--sensitivity);
  height: calc(100% - 40px);
}
#left-navigation-container:is(:hover) > .rbx-left-col { width: 175px !important; }
#navigation-container:has(#left-navigation-container) ~ main:first-of-type {
  /* Places on Roblox where the left margins can be removed without breaking things */
  /* The Catalog */ & > #content:has(.sort-header), & > #content:has(a[target="_self"][href="https://www.roblox.com/catalog"]),
  /* The Homepage */ & > #content:has(#HomeContainer) {
    margin-left: 0;
  }
}
#navigation-container:has(#left-navigation-container:hover) ~ main:first-of-type > #content:has(.sort-header) { margin-left: 175px !important; }