/**
 * @name Compactify for YouTube
 * @description Some things take up too much space, let's fix that.
 * @author JustAundre
 * @version 1.0.0
 * @authorId 532681285961777154
*/

/* Compresses the download and share buttons */
  /* Removes the share and download text from the buttons */
  ytd-menu-renderer.ytd-watch-metadata button:not([title="I like this"], [title="I dislike this"]) div:not([aria-hidden="true"]) {
    display: none;
  }
  /* Consistency changes on padding and margin */
  ytd-menu-renderer.ytd-watch-metadata button:not([title="I like this"], [title="I dislike this"]) {
    padding: 6px;
  }
  ytd-menu-renderer.ytd-watch-metadata button:not([title="I like this"], [title="I dislike this"]) div[aria-hidden="true"] {
    margin: 0 4px !important;
  }